body {
  height: calc(100% - 56px);
  background-image: url("/assets/login_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-header {
    color: white
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
}
